<h1>IN DEVELOPMENT</h1>

<h1>StaticPages#art_portfolio</h1>
<p>Find me in app/views/static_pages/art_portfolio.html.erb</p>

<!-- line 1 -->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

<!-- line 2 -->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

<!-- line 3 -->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

<!-- line 4 -->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

<!-- line 5 -->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

<!-- line 6 -->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

<!-- line 7 -->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
	<div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>
