<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="portfolio-image-space">
				<%= link_to image_tag("vertical_gardening_sc.jpg", alt: "Vertical Gardening School"), 'https://verticalgardeningschool.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>Vertical Gardening School is an online authority on DIY indoor gardening.  It is built with the GeneratePress theme on WordPress.  I did the styling as well as the integration of application functions.</p>
			</div>
    </div>

    <div class="col-sm-4">
			<div class="portfolio-image-space">
				<%= link_to image_tag("escher_sc.png", alt: "VitStack home page"), 'https://mighty-beyond-43620.herokuapp.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>Escher is the Airbnb for co-working spaces.  I did this Ruby on Rails app as final project at Wyncode Academy.  My roles included project management, and backend design.  After graduation, I did a redesign of the front page so that people looking at my work know I am an artist with an eye for UX.
				</p>
			</div>
    </div>

    <div class="col-sm-4">
			<div class="portfolio-image-space">
				<%= link_to image_tag("vitstack_sc.png", alt: "VitStack home page"), 'https://infinite-mountain-69399.herokuapp.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>Vitstack is a Ruby on Rails app that I am currently working on.  It will find formulas containing combinations of vitamins and supplements the user is currently taking.  My aim is to help people save money, cut down on packaging waste, and help people to remember to take all of their pills.  
				</p>
			</div>
    </div>
  </div>
</div>

<!-- LINE 2 -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
  </div>
</div>
