
<h1>IN DEVELOPMENT</h1>
<h1>StaticPages#dev_portfolio</h1>
<p>Find me in app/views/static_pages/dev_portfolio.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="portfolio-image-space">
				<%#= image_tag("vertical_gardening_sc.png", class: 'portfolio-image', alt: "Vertical Gardening School") %>
				<%= link_to image_tag("vertical_gardening_sc.jpg", alt: "Vertical Gardening School"), 'https://verticalgardeningschool.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>This is about a project</p>
			</div>
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
  </div>
</div>
