<div class="center jumbotron">
	<div class="container">
		<h1 class="headline">Nate B. DeWaele</h1>

		<div class="tagline">
			<h2>
		    Junior Full-Stack Web Developer and Wyncode Academy Graduate in Fort Lauderdale, Florida
		  </h2>
		</div>

		<h2 class="email-phone">
			phone: 321-999-3577 &nbsp; || &nbsp; email: nbdewaele@gmail.com
		</h2>

		<div class="headshot">
			<%= image_tag "headshot.jpg", alt: "Nate DeWaele", class: 'img-responsive img-circle headshot img-fluid' %>
		</div>




		<div class="bio">
			<h3>
				Full stack software engineer who applies scientific method to development.  Uses background in market research and sales to design purposeful UI/UX.  Artist who likes to make things beautiful.
			</h3>
		</div>


  </div>


</div>
