<h1>IN DEVELOPMENT</h1>
<div class="jumbotron">
	<div class="container">

		<div class="tagline">
			<h2 class="tagline-resume">
		    Junior Full-Stack Web Developer and Wyncode Academy Graduate in Fort Lauderdale, Florida
		  </h2>
		</div>

		<div class="social-media center">
			<nav class="social-links">
		    <ul class="list-inline">

					<li><a href="https://www.linkedin.com/in/natebdewaele/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>

					<li><a href="https://twitter.com/NateBDeWaele"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>

					<li><a href="https://github.com/nbdewaele"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>

		    </ul>
		  </nav>
		</div>

		<h2 class="email-phone">
			phone: 321-999-3577 &nbsp; || &nbsp; email: nbdewaele@gmail.com
		</h2>

		<div class="headshot">
			<%= image_tag "headshot.jpg", alt: "Nate DeWaele", class: 'img-responsive img-circle headshot img-fluid' %>
		</div>

		<div class="philosophy">
			<div class="resume-segment pull-left">
				<h4>Philosophy</h4>
			</div>
			<div class="resume-content pull-right">
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel at porro, earum esse eaque cupiditate. Expedita quo cupiditate accusamus, dolore harum voluptas ipsam facere praesentium architecto quae culpa consectetur incidunt.</h4>
			</div>
		</div>

		<div class="skills-languages">
			<div class="resume-segment pull-left">
				<h4>Skills & Languages</h4>
			</div>
			<div class="resume-content pull-right">
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus numquam sint facere nulla consequatur, pariatur dolores unde minima doloribus quia labore similique autem nisi eius hic illo aperiam. Autem, pariatur.</h4>
			</div>
		</div>

		<div class="methodologies">
			<div class="resume-segment pull-left">
				<h4>Methodologies</h4>
			</div>
			<div class="resume-content pull-right">
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum officiis consectetur, et quae nesciunt dolor alias voluptatibus incidunt dignissimos illum harum, iure itaque accusamus quia! Error iusto, minima vel saepe.</h4>
			</div>
		</div>

		<div class="tools">
			<div class="resume-segment pull-left">
				<h4>Tools</h4>
			</div>
			<div class="resume-content pull-right">
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem molestias alias iste impedit, sed consectetur rem maxime eveniet, doloremque, ut corporis magnam. Facere, amet accusamus? Magni neque inventore eveniet?</h4>
			</div>
		</div>

		<div class="projects">
			<div class="resume-segment pull-left">
				<h4>Web Development Projects</h4>
			</div>
			<div class="resume-content pull-right">
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati perferendis accusamus, neque, iste similique perspiciatis saepe illo et quas commodi eius porro animi. Odit optio porro atque officia quia esse.</h4>
			</div>
		</div>

		<div class="experience">
			<div class="resume-segment pull-left">
				<h4>Experience</h4>
			</div>
			<div class="resume-content pull-right">
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates asperiores voluptatibus necessitatibus fuga perferendis, optio. Dolor optio soluta, quos non nihil odio, animi consectetur vel reprehenderit dolores commodi numquam illum.</h4>
			</div>
		</div>

  </div>

</div>
