<h1>IN DEVELOPMENT</h1>
<div class="center jumbotron">
	<div class="container">

		<div class="tagline">
			<h2>
		    Junior Full-Stack Web Developer and Wyncode Academy Graduate in Fort Lauderdale, Florida
		  </h2>
		</div>

		<div class="social-media">
			<nav class="social-links">
		    <ul class="list-inline">

					<li><a href="https://www.linkedin.com/in/natebdewaele/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>

					<li><a href="https://twitter.com/NateBDeWaele"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>

					<li><a href="https://github.com/nbdewaele"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>

		    </ul>
		  </nav>
		</div>

		<h2 class="email-phone">
			phone: 321-999-3577 &nbsp; || &nbsp; email: nbdewaele@gmail.com
		</h2>

		<div class="headshot">
			<%= image_tag "headshot.jpg", alt: "Nate DeWaele", class: 'img-responsive img-circle headshot img-fluid' %>
		</div>

		<div class="philosophy">
			<div class="resume-segment">
				<h4>Philosophy</h4>
			</div>
			<div class="resume-content">

			</div>
		</div>

		<div class="skills-languages">
			<div class="resume-segment">
				<h4>Skills & Languages</h4>
			</div>
			<div class="resume-content">

			</div>
		</div>

		<div class="methodologies">
			<div class="resume-segment">
				<h4>Methodologies</h4>
			</div>
			<div class="resume-content">

			</div>
		</div>

		<div class="tools">
			<div class="resume-segment">
				<h4>Tools</h4>
			</div>
			<div class="resume-content">

			</div>
		</div>

		<div class="projects">
			<div class="resume-segment">
				<h4>Web Development Projects</h4>
			</div>
			<div class="resume-content">

			</div>
		</div>

		<div class="experience">
			<div class="resume-segment">
				<h4>Experience</h4>
			</div>
			<div class="resume-content">

			</div>
		</div>

		<div class="bio">
			<h3>
				Full stack software engineer who applies scientific method to development.  Uses background in market research and sales to design purposeful UI/UX.  Artist who likes to make things beautiful.
			</h3>
		</div>

  </div>

</div>
