<div class="jumbotron">
	<div class="container">

		<div class="tagline">
			<h2 class="tagline-resume">
		    Junior Full-Stack Web Developer and Wyncode Academy Graduate in Fort Lauderdale, Florida
		  </h2>
		</div>

		<div class="social-media center">
			<nav class="social-links">
		    <ul class="list-inline">

					<li><a href="https://www.linkedin.com/in/natebdewaele/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>

					<li><a href="https://twitter.com/NateBDeWaele"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>

					<li><a href="https://github.com/nbdewaele"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>

		    </ul>
		  </nav>
		</div>

		<h2 class="email-phone">
			phone: 321-999-3577 &nbsp; || &nbsp; email: nbdewaele@gmail.com
		</h2>

		<div class="headshot">
			<%= image_tag "headshot.jpg", alt: "Nate DeWaele", class: 'img-responsive img-circle headshot img-fluid' %>
		</div>

		<div class="philosophy row justify-content-md-center">
			<div class="resume-segment col-lg-4">
				<h4><strong>Philosophy</strong></h4>
			</div>
			<div class="resume-content col-lg-8">
				<h4>I am passionate about what I do and always give 100%.  I don't take shortcuts because they take too long.</h4>
			</div>

			<div class="resume-segment col-lg-4">
				<h4><strong>Skills & Languages</strong></h4>
			</div>
			<div class="resume-content col-lg-8">
				<h4>Full-stack web development, HTML5, CSS3, JavaScript, Ruby, Ruby on Rails, AJAX, REST, SQL, PostgreSQL, JSON, Bootstrap, API integration</h4>
			</div>

			<div class="resume-segment col-lg-4">
				<h4><strong>Methodologies</strong></h4>
			</div>
			<div class="resume-content col-lg-8">
				<h4>Agile project management, Scrum, test-driven development</h4>
			</div>

			<div class="resume-segment col-lg-4">
				<h4><strong>Tools</strong></h4>
			</div>
			<div class="resume-content col-lg-8">
				<h4>GitHub, Atom, Trello, Heroku, command line</h4>
			</div>

			<div class="resume-segment col-lg-4">
				<h4><strong>Web Development Projects</strong></h4>
			</div>
			<div class="resume-content col-lg-8">
				<div class="experience">
					<div class="job-title">
						<h4><strong>
							Escher Web App / Airbnb For Co-Working Spaces
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							OCTOBER 2017<a href="https://github.com/nbdewaele/zenpark">https://github.com/nbdewaele/zenpark</a>
						</h4>
					</div>
					<div class="job-description">
						<h4>
							Designed and built backend framework, set up relational database models, and responsive user interface. Used HTML, CSS, AJAX, Bootstrap, and Google API.
						</h4>
					</div>
				</div><br>

				<div class="experience">
					<div class="job-title">
						<h4><strong>
							Capleo Web App / Spotify Playlist Creator
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							SEPTEMBER 2017 <a href="https://github.com/pdeona/capleo-f-f">https://github.com/pdeona/capleo-f-f</a>
						</h4>
					</div>
					<div class="job-description">
						<h4>
							Designed Ruby app testing plan and executed tests using RSpec. Performed UI/UX QA.
						</h4>
					</div>
				</div><br>
			</div>

			<div class="resume-segment col-lg-4">
				<h4><strong>Experience</strong></h4>
			</div>
			<div class="resume-content col-lg-8">
				<div class="experience">
					<div class="job-title">
						<h4><strong>
							B2B Sales Rep / Nutraceutical Corporation
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							SEPTEMBER 2014 – APRIL 2017, FORT LAUDERDALE, FLORIDA
						</h4>
					</div>
					<div class="job-description">
						<h4>
							Sold 60+ supplement brands to managers of natural health food and supplement stores. Serviced accounts by phone, email, FaceTime and in person. Consistently over-achieved sales targets.
						</h4>
					</div>
				</div><br>

				<div class="experience">
					<div class="job-title">
						<h4><strong>
							Customer Service Associate / Vitamin Cottage
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							MARCH 2013 – AUGUST 2015, DENVER, COLORADO
						</h4>
					</div>
					<div class="job-description">
						<h4>
							Assisted shoppers with nutritional supplement purchases, answered questions, suggested appropriate products, and provided free product samples.
						</h4>
					</div>
				</div><br>

				<div class="experience">
					<div class="job-title">
						<h4><strong>
							Field Researcher and Recruiter / SmartRevenue
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							APRIL 2013 - OCTOBER 2014, REMOTE
						</h4>
					</div>
					<div class="job-description">
						<h4>
							As a remote part-time consultant working on occasional projects for market research firm, helped consumer and B2B companies across various categories make smarter business decisions.
						</h4>
					</div>
				</div><br>

				<div class="experience">
					<div class="job-title">
						<h4><strong>
							Sales Associate / Bed, Bath, and Beyond
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							AUGUST 2012 - DEC 2012, DENVER, COLORADO
						</h4>
					</div>
					<div class="job-description">
						<h4>
							Provided customer support to fine china shoppers and helped couples create and shop for wedding gift registries.
						</h4>
					</div>
				</div><br>

				<div class="experience">
					<div class="job-title">
						<h4><strong>
							Administrative Assistant III / CU Denver Medical Campus
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							SEPTEMBER 2011 - JUNE 2012, AURORA, COLORADO
						</h4>
					</div>
					<div class="job-description">
						<h4>
							Screened and approved security access applications.  Filed one year backlog, reduced approval time from three months to one week.
						</h4>
					</div>
				</div><br>

				<div class="experience">
					<div class="job-title">
						<h4><strong>
							Breast Cancer Research Lab Intern / University of Colorado
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							DECEMBER 2009 - DECEMBER 2010, DENVER, COLORADO
						</h4>
					</div>
					<div class="job-description">
						<h4>
							Helped research team perform experiments to understand breast cancer disease progression, predictors of metastasis, and potential chemotherapy treatments.
						</h4>
					</div>
				</div><br>
			</div>

			<div class="resume-segment col-lg-4">
				<h4><strong>Education</strong></h4>
			</div>
			<div class="resume-content col-lg-8">
				<div class="experience">
					<div class="job-title">
						<h4><strong>
							Certificate in Full-Stack Web Development / Wyncode Academy
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							OCTOBER 2017, MIAMI, FLORIDA
						</h4>
					</div>
					<div class="job-description">
						<h4>
							Completed Wyncode Academy’s 10-week full-time immersive course in full-stack web development, where I attended over 300 hours of coursework and collaborated with other students and worked alone to develop web applications.
						</h4>
					</div>
				</div><br>

				<div class="experience">
					<div class="job-title">
						<h4><strong>
							BS / Metropolitan State University
						</strong></h4>
					</div>
					<div class="date-location">
						<h4>
							JUNE 2010, DENVER, COLORADO
						</h4>
					</div>
					<div class="job-description">
						<h4>
							Double major: Biology and Chemistry
						</h4>
					</div>
				</div><br>
			</div>
		</div>
	</div>

</div>
