<!-- <h1>StaticPages#resume</h1>
<p>Find me in app/views/static_pages/resume.html.erb</p> -->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="res-col span2">
      <!--Sidebar content-->
			<div class="headshot">
				<%= image_tag "headshot.jpg", alt: "Nate DeWaele", class: 'img-responsive img-circle headshot img-fluid' %>
			</div>
			<h2 class="email-phone">
				phone: 321-999-3577 &nbsp; || &nbsp; email: nbdewaele@gmail.com
			</h2>
    </div>

    <div class="res-col span10">
      <!--Body content-->
			<h1 class="headline">Nate B. DeWaele</h1>
			<div class="tagline">
				<h2>
					Junior Full-Stack Web Developer and Wyncode Academy Graduate in Fort Lauderdale, Florida
				</h2>
			</div>
    </div>
  </div>
</div>
