@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rajdhani:500');

/* https://coolors.co/fcfcfc-394648-fffae3-99e1d9-5d576b
*/

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
/* https://coolors.co/fcfcfc-394648-acbdba-99e1d9-5d576b
*/
$baby-powder: #fcfcfc;
$arsenic-black: #394648;
$latte: #f1f2ec;
$robin-egg-blue: #99e1d9;
$black-coral: #5d576b;
/* universal */

body {
  padding-top: 60px;
	/* font-family: 'Rajdhani', sans-serif; */
	font-family: 'Open Sans', sans-serif;
	background-color: $baby-powder ;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
	  margin-bottom: 0px;
		margin-top: 0;
		padding-bottom: 0px;
	}
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  $black-coral: #5d576b;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
	$black-coral: #5d576b;
}

/* header */

.navbar {
  min-height: 6em;
	background-color: $robin-egg-blue;
	color: $arsenic-black;
}

.my-name {
	margin-left: 2em;
	color: $arsenic-black;
}

.row {
	color: $black-coral;
	&:hover {
	  color: $arsenic-black;
	  text-decoration: none;
	}
}

#logo {
  float: left;
  margin-right: 10px;
	padding-left: 0;
  font-size: 2.5em;
  color: $black-coral;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 20px;
  font-weight: bold;
	&:hover {
	  color: $arsenic-black;
	  text-decoration: none;
	}
}

.col-md-2 {
    margin: 0 auto;
		text-align: center;
    padding-left: 0;
    font-size: 2.5em;
    color: $black-coral;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 20px;
    font-weight: bold;
}

.col-md-1.art {
    margin: 0 auto;
		text-align: center;
    padding-left: 0;
    font-size: 2.5em;
    color: $black-coral;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 20px;
    font-weight: bold;
}

#top-right-nav {
	color: $black-coral;
	&:hover {
	  color: $arsenic-black;
	  text-decoration: none;
	}
}


///////////////////
// FIND A WAY TO SIZE AND CONSTRAIN ANY IMAGE
///////////////////
img {
  display: none;
}

.img-fluid {
	max-width: 20%;
}
.img-responsive {
    margin: 0 auto;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $black-coral;
  color: $black-coral;
	a {
		color: $black-coral;
		&:hover {
		  color: $black-coral;
		}
	}
	small {
	  float: left;
	}
	ul {
		display: flex;
	  align-items: center;
	  justify-content: center;
		li {
		  margin: 0 2em auto;
			list-style-type: none;
		}
	}
}

.fa {
	color: $robin-egg-blue;
	&:hover {
		color: $black-coral;
	}
}

/* Home */
.jumbotron{
  height: 100vh;
	margin-top: 7vh;
	background-color: $latte;
}

.tagline {
	font-size: 2em;
	width: 85%;
	margin: 0 auto;
}

.bio {
	font-size: 1.7em;
	width: 55%;
	margin: 0 auto;
	margin-top: 3.3em;
}

.headline {
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: 'Rajdhani', sans-serif;
}

.email-phone {
	font-size: 1.5em;
	margin-bottom: 3em;
	color: $black_coral;
}

/* resume */

.res-col {

	background-color: $latte;
	margin: 0 auto;
}

.row-fluid {
	height: 100vh;
	margin-top: 7vh;
}
