@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rajdhani:500');

/* https://coolors.co/fcfcfc-394648-fffae3-99e1d9-5d576b
*/

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
/* https://coolors.co/fcfcfc-394648-acbdba-99e1d9-5d576b
*/
$baby-powder: #fcfcfc;
$arsenic-black: #394648;
$latte: #f1f2ec;
$robin-egg-blue: #99e1d9;
$black-coral: #5d576b;
/* universal */

body {
  padding-top: 60px;
	/* font-family: 'Rajdhani', sans-serif; */
	font-family: 'Open Sans';
	background-color: white ;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
	  margin-bottom: 0px;
		margin-top: 0;
		padding-bottom: 0px;
	}
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  $black-coral: #5d576b;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
	$black-coral: #5d576b;
}

/* header */

.container-fluid {
	background-color: $robin-egg-blue;
	color: $arsenic-black;
}

.navbar-nav {
	background-color: $robin-egg-blue;
	padding-top: 3em;
	padding-left: 1.5em;
	font-size: 0.5em;
}

#top-right-nav {
	background-color: $robin-egg-blue;
	float: left;
  margin-right: 10px;
	padding-left: 0;
  font-size: 2.5em;
  color: $black-coral;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 20px;
  font-weight: bold;
	&:hover {
	  color: $arsenic-black;
	  text-decoration: none;
	}
}

#logo {
  float: left;
  margin-right: 1em;
	padding-left: 0;
  font-size: 2.5em;
  color: $black-coral;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 20px;
  font-weight: bold;
	font-family: 'Rajdhani';
	&:hover {
	  color: $arsenic-black;
	  text-decoration: none;
	}
}

///////////////////
// FIND A WAY TO SIZE AND CONSTRAIN ANY IMAGE
///////////////////
img {
	max-width:100%;
	max-height:100%;
}

.img-fluid {
	max-width: 20%;
}
.img-responsive {
    margin: 0 auto;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $black-coral;
  color: $black-coral;
	a {
		color: $black-coral;
		&:hover {
		  color: $black-coral;
		}
	}
	small {
		float: left;
	}
	ul {
		display: flex;
	  align-items: center;
	  justify-content: center;
		li {
		  margin: 0 2em auto;
			list-style-type: none;
		}
	}
}

.fa {
	color: $robin-egg-blue;
	&:hover {
		color: $black-coral;
	}
}

/* Home */
.jumbotron{
  height: 100%;
	margin-top: 7vh;
	background-color: #fcfcfc;
	background-size: auto 100%;
}

.tagline {
	font-size: 2em;
	width: 85%;
	margin: 0 auto;
	font-family: 'Rajdhani';
}

.bio {
	font-size: 1.7em;
	width: 55%;
	margin: 0 auto;
	margin-top: 3.3em;
}

.headline {
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: 'Rajdhani', sans-serif;
}

.email-phone {
	font-size: 1.5em;
	margin-bottom: 3em;
	color: $black_coral;
}

/* resume */
/* WIDTH, MARGINS, PADDING, FONT SIZES NEED ADJUSTING */

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
	width: 100%;
}

.row {
	margin-top: 4em;
}

.resume-content {
	margin-bottom: 2em;
}

.date-location {
	color: $arsenic-black;
}

.projects-resume {
	color: $black_coral;
}

.about-project {
	margin-top: 15px;
}

.col-sm-4 {
	background-color: $baby-powder;
	height: 380px;
	padding: 15px;
	border: solid white 5px;
}

.portfolio-image-space-2 {
	height: 184.344px;
}
