@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
	  margin-bottom: 20px;
		margin-top: 0;
		padding-bottom: 20px;
	}
}

/* typography */
$light-gray: #777;
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar {
  min-height: 6em;
}

.my-name {
	margin-left: 2em;
}

#logo {
  float: left;
  margin-right: 10px;
	padding-left: 0;
  font-size: 2.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 20px;
  font-weight: bold;
	&:hover {
	  color: #fff;
	  text-decoration: none;
	}
}


///////////////////
// FIND A WAY TO SIZE AND CONSTRAIN ANY IMAGE
///////////////////
img {
  display: none;
}

.img-fluid {
	max-width: 30%;
}
.img-responsive {
    margin: 0 auto;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
	a {
		color: $gray;
		&:hover {
		  color: $gray-darker;
		}
	}
	small {
	  float: left;
	}
	ul {
	  float: right;
	  list-style: none;
		li {
		  float: left;
		  margin-left: 15px;
		}
	}
}

/* Home */
.jumbotron{
  height: 100vh;
	margin-top: 7vh;
}
