@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rajdhani:500');

/* https://coolors.co/fcfcfc-394648-fffae3-99e1d9-5d576b
baby powder
arswnic black
latte
robin egg blue
black coral
*/

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
	// font-family: 'Rajdhani', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
	  margin-bottom: 0px;
		margin-top: 0;
		padding-bottom: 0px;
	}
}

/* typography */
$light-gray: #777;
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar {
  min-height: 6em;
}

.my-name {
	margin-left: 2em;
}

#logo {
  float: left;
  margin-right: 10px;
	padding-left: 0;
  font-size: 2.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 20px;
  font-weight: bold;
	&:hover {
	  color: #fff;
	  text-decoration: none;
	}
}

.col-md-2 {
    margin: 0 auto;
		text-align: center;
    padding-left: 0;
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 20px;
    font-weight: bold;
}

.col-md-1.art {
    margin: 0 auto;
		text-align: center;
    padding-left: 0;
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 20px;
    font-weight: bold;
}



///////////////////
// FIND A WAY TO SIZE AND CONSTRAIN ANY IMAGE
///////////////////
img {
  display: none;
}

.img-fluid {
	max-width: 20%;
}
.img-responsive {
    margin: 0 auto;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
	a {
		color: $gray;
		&:hover {
		  color: $gray-darker;
		}
	}
	small {
	  float: left;
	}
	ul {
		display: flex;
	  align-items: center;
	  justify-content: center;
		li {
		  margin: 0 2em auto;
			list-style-type: none;
		}
	}
}

/* Home */
.jumbotron{
  height: 100vh;
	margin-top: 7vh;
}

.tagline {
	font-size: 2em;
	width: 85%;
	margin: 0 auto;
}

.bio {
	font-size: 1.7em;
	width: 55%;
	margin: 0 auto;
	margin-top: 3.3em;
}

.headline {
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: 'Rajdhani', sans-serif;
}

.email-phone {
	font-size: 1.5em;
	margin-bottom: 3em;
}
