<footer class="footer">
  <small>
    <!-- The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a> -->
  </small>
  <nav class="social-links">
    <ul>
      <!-- <li><a href="http://news.railstutorial.org/">News</a></li> -->
			<li><a href="https://www.linkedin.com/in/natebdewaele/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>

			<li><a href="https://twitter.com/NateBDeWaele"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>

			<li><a href="https://github.com/nbdewaele"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>

    </ul>
  </nav>
</footer>
