<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container my-name">
		<%= link_to "Home", '/', id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">

				<!-- THESE ARE USEFUL FOR FUTURE BUILDOUT -->
        <li><%= link_to "Resume", '/resume' %></li>
        <li><%= link_to "Projects", 'dev_portfolio' %></li>
        <li><%= link_to "Art", 'art_portfolio' %></li>
      </ul>
    </nav>
  </div>
</header>
