<header class="navbar navbar-fixed-top">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      
	      <%= link_to "Nate B. DeWaele", '/', id: "logo" %>
				<ul class="nav navbar-nav">
	        <li class="current active"><%= link_to "Resume", 'resume', :id => "top-right-nav" %></li>
	        <li class="current active"><%= link_to "Art", 'art_portfolio', :id => "top-right-nav" %></li>
					<li class="current active"><%= link_to "Projects", 'dev_portfolio', :id => "top-right-nav" %></li>
	      </ul>
	    </div>


	  </div><!-- /.container-fluid -->
	</nav>
</header>
